<div class="menu_top">
    <div class="menu_main">
        <ul>
            <li><a href="#" title="Chat Room">Chat Room</a></li>
            <li><a href="#" title="Messages">Messages</a></li>
        </ul>
        <div class="menu_right">
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <a href="#">Log in</a>
                    <a href="#">Sign up</a>
                </div>
            </div>
            <div class="logItem">
                <a href="#" class="logInOutbtn">Sign in</a>
            </div>
        </div>
    </div>
</div>